@font-face {
  font-family: "Roboto";
  src: url("../media/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Rochester";
  src: url("../media/Rochester-Regular.ttf");
}

body {
  font-family: "Roboto";
}

h1 {
  font-family: "Rochester";
  font-style: normal;
  margin-left: 5%;
}

h2 {
  font-style: normal;

  text-align: center;
}

h3 {
  font-style: normal;
  text-align: center;
}

h4 {
  font-style: normal;
  text-align: center;
}

p {
  font-family: "Roboto";
}

#numItems {
  padding-top: 50%;
  text-align: left;
}

#cart {
  width: 70%;
  height: 70%;
  padding-top: 20%;
}

#banner {
  width: 100%;
  height: 100%;
}

#burgers {
  margin-left: 2%;
}

#menu {
  padding-top: 1%;
  background-color: #333a40;
  text-align: center;
  color: #ffffff;
}

#menuZone {
  padding-left: 10%;
  padding-right: 10%;
}
.menuItem {
  margin-left: 2%;
  padding-bottom: 1%;
  text-align: center;
}

.footer {
  font-family: "Roboto";
  color: #000000;
  text-align: center;
  padding: 1%;
}

.itemPhoto {
  padding: 2%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardZone {
  padding: 10%;
  border-style: solid;
  border-color: #c4c4c4;
  margin-bottom: 5%;
}

.btnItem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2a950;
  color: #000000;
  border-color: #cccccc;
}
.btnModify {
  background-color: #f2a950;
  color: #ffffff;
  border-style: none;
}

#btnCancel {
  background-color: #8c162c;
  color: #ffffff;
  border-color: #000000;
}

#btnConfirm {
  background-color: #708c32;
  color: #ffffff;
  border-color: #000000;
}

hr {
  width: 100%;
  height: 5px;
  background-color: #000000;
}
